# ignore all the file under '.terraform' folder
.terraform
.terraform.lock.hcl

# ignore other files
terraform.tfstate.backup
Website_backup*.zip
settings.json
cucumber-logo.png
cypress-logo.png
gitlab-logo.png
typescript-logo.png
jira-logo.png
ansible-logo.png